# Rewrite engine setup
RewriteEngine on


# Default response
# ---------------------------
# Redirect to current default Ontology. This should be changed to a landing page, once there are multiple ontologies regarding steel
RewriteRule ^(.+)$ https://w3id.org/steel/ProcessOntology/$1.ttl [R=303,L]
